.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  box-sizing: border-box; /* Para que el padding no desborde el ancho */
  color: azure;
}

.profile-badge {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}

.avatar-icon {
  background-color: #2ecc71; /* Verde esmeralda */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}